{% extends "frontpage.html" %}

{% block content %}
	
				<form action="Logout.php">
  					<input type="submit" value="Log Out"/>
				</form>
				<li>Username</li>
				<li>My tags:</li>
				<form name="tags">
					<ul><br>
							<li><input type="checkbox" name="option1" value="Tag1" checked>Tag1<br></li>
							<li><input type="checkbox" name="option2" value="Tag2" checked>Tag2<br></li>
							<li><input type="checkbox" name="option3" value="Tag3" checked>Tag3<br></li>
						<br>
					</ul>
				</form>
				<button type="submit">Change password</button>
	
{% endblock content %}
