html { 
	background-color: #DCDCDC
}

body {
	font-family:Tahoma, Geneva, sans-serif;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px; 
}

#head {
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight: bold;
	position: fixed;
	width: 100%;
	height: 25%;
	padding:0px;
	border-top: 5px solid #282828;
	border-bottom: 5px solid #282828;
	top:0px;
	left: 0px;
	right: 0px;
	z-index: 2;
	margin:0px solid;
	background-color: #C2DF95;
}

#title {
	font-family:Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size: 300%;
	color: #FFFFFF;
}

#subtitle {
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 150%;
	color: #FFFFFF;
}

#nav {
	position: fixed;
	text-align:center;
	width:15%;
	top: 26.5%;
	height: 71%;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	background:#DFBE75;
	border-right: 5px solid #282828;	
}

#page {
	top: 10%;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 10%;
	z-index: 1;
}

#page-wrap { 
	width: 50%;
	margin: 50px auto;
	padding: 20px;
	background: white;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black; 
}

#form-container {
	text-align: center;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight: bold;

}

#form-title {
	text-align: center;
	font-size: 220%;
}

label, input {
    /* in order to define widths */
    display: inline-block;
}

label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}

label + input {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

section {
	float:center;
	padding:10px;
	text-align:center;
	font-family: "Times New Roman", Georgia, Serif;
}

#go_to {
	position: fixed;
	bottom:0px;
	left:49%;
}

aside {
	width:15%;
	float:right;
	margin-right: 18%;
	padding:10px;
}
