html { 
	background: url("background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px; 
}

header {
	text-align:center;
}

p { 
	font: 15px/2 Georgia, Serif; 
	margin: 0 0 30px 0; 
	text-indent: 40px; 
}

#head {
	width: 100%;
	height: 100%;
	background-color:33FFFF;
	position: fixed;
	padding:0px;
	border-top: 5px solid #282828;
	border-bottom: 5px solid #282828;
	top:0px;
	height: 23%;
	margin:0px solid;
	left: 0px;
	right: 0px;
	z-index: 2;
}

#title {
	height: 5%;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 300%;
	color: #780000;
}

#subtitle {
	height: 8%;
	margin-top: 5%;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 200%;
	color: #808080;
}

#nav {
	position: relative;
	text-align:center;
	width:15%;
	top: 11%;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	height: 400%;
	background:#A9A9A9;
	border-right: 5px solid #282828;	
}

#page {
	top: 10%;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 10%;
	z-index: 1;
}

#page-wrap { 
	width: 400px;
	margin: 50px auto;
	padding: 20px;
	background: white;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black; 
}

section {
	float:center;
	padding:10px;
	text-align:center;
	font-family: "Times New Roman", Georgia, Serif;
}

#go_to {
	position: fixed;
	bottom:0px;
	left:49%;
}

.vspace {
	margin-top: 5%;
}

.vspace2 {
	margin-left: 10px;
	margin-top: 5px;
}

aside {
	width:15%;
	float:right;
	margin-right: 18%;
	padding:10px;
}



/* FONT */

/* Font styles */
p.normal {
    font-style: normal;
}

p.italic {
    font-style: italic;
}

p.oblique {
    font-style: oblique;
}

/* Font types */
p.sansserif {
    font-family: "Times New Roman", Georgia, Serif;
}
